<div class="container">
  <header class="header">
    <h1>{{ isEditMode ? 'Edit' : 'Read' }} mode</h1>
    <button *ngIf="!isEditMode" appBtn color="primary" (click)="openEditMode()">Edit</button>
    <button *ngIf="isEditMode" appBtn color="error" (click)="closeEditMode()">Cancel</button>
  </header>
  <div>
    <app-edit-mode *ngIf="isEditMode" [widgets]="widgets" (saveWidgets)="saveData($event)"></app-edit-mode>
    <app-view-mode *ngIf="!isEditMode" [widgets]="widgets"></app-view-mode>
  </div>
</div>
